@import url(//db.onlinewebfonts.com/c/1b6fc211ac8965244816cc37de9fbe77?family=Soho+Gothic+Pro);

@font-face {
  font-family: 'Soho Gothic Pro';
  src: url('//db.onlinewebfonts.com/t/1b6fc211ac8965244816cc37de9fbe77.eot');
  src: url('//db.onlinewebfonts.com/t/1b6fc211ac8965244816cc37de9fbe77.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/1b6fc211ac8965244816cc37de9fbe77.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/1b6fc211ac8965244816cc37de9fbe77.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/1b6fc211ac8965244816cc37de9fbe77.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/1b6fc211ac8965244816cc37de9fbe77.svg#Soho Gothic Pro')
      format('svg');
}

* {
  font-family: 'Soho Gothic Pro';
  color: #231f20;
}

@media print {
  .pagebreak {
    page-break-after: always;
  } /* page-break-after works, as well */
}
